extends index
block content
  h1= title

  table
    thead 
      tr
        th(colspan='2') HH
        th(colspan='2') MM
        th(colspan='2') SS
        th
    tbody
      // 2^3 = 8
      tr(class='base') 
        td(class='null')
        td(class='dot')
          div
        td(class='null')
        td(class='dot')
          div
        td(class='null')
        td(class='dot')
          div
        td(class='mark') 8
      // 2^2 = 4
      tr(class='base')
        td(class='null')
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='mark') 4
      // 2^1 = 2
      tr(class='base') 
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='mark') 2
      // 2^0 = 1
      tr(class='base') 
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='dot')
          div
        td(class='mark') 1
      // show binary value of column 
      tr(class='showBin') 
        td
        td
        td
        td
        td
        td
        td(class='mark') binary
      // show decimal value of column 
      tr(class='showDec') 
        td
        td
        td
        td
        td
        td
        td(class='mark') decimal
    tfoot
      // show the time
      tr(class='showTime') 
        td
        td
        td
        td
        td
        td
        td(class='mark') the time
  block append
    script(src='./js/script.js')
